<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236185227435-3ntfs2n7od1bm10pfshmsdgp0os4g6qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236185227435-3ntfs2n7od1bm10pfshmsdgp0os4g6qm</string>
	<key>API_KEY</key>
	<string>AIzaSyB53dV8WVVIAJwJxAQ8qgEVQ0Rc1Hl5kKM</string>
	<key>GCM_SENDER_ID</key>
	<string>236185227435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-589c1</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-589c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236185227435:ios:96ee2633ad655c3ada27ee</string>
</dict>
</plist>